@model IEnumerable<UserMainSliderVM>

<div id="articleCarousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#articleCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#articleCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#articleCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @foreach (var article in Model)
        {
            <div class="carousel-item active" data-bs-interval="10000">
                <div class="img-div-cover">
                    <div class="home-slide-overlay" data-bg-color="#000" data-opacity="0.15"></div>
                    <img src="data:image/*;base64,@article.Thumbnail" style="height: 40vh;" alt="@article.Title" />
                    <!--Slider Caption Start-->
                    <div class="flex-caption">
                        <div class="home-slide-caption">
                            <div class="home-slide-category">
                                @foreach (var topic in article.Topics)
                                {
                                    <a asp-controller="Article" asp-action="ListByTopic" asp-route-t="@topic">
                                        @topic
                                    </a>
                                }
                            </div>
                            <h1 class="text-warning">@article.Title</h1>
                            <div class="home-slide-link">
                                <a asp-controller="Article" asp-action="Details" asp-route-id="@article.Id">
                                    Read this article
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--Slider Caption End-->
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#articleCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#articleCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>