@model CommentAddVM

<div class="post-leave-comment">
    <div class="page-title subtitle">
        <h2>Leave a comment</h2>
    </div>
    <form class="contact-form comment-input" asp-controller="Comment" asp-action="Add" method="post">
        @Html.HiddenFor(x => x.ArticleId);
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <input asp-for="UserName" required />
                    <label asp-for="UserName"></label> *
                </div>
                <div class="box">
                    <input id="email" type="text" name="email" required />
                    <label>Your email *</label>
                </div>
                <div class="box">
                    <textarea asp-for="Text" required></textarea>
                    <label asp-for="Text"></label> *
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit">Send</button>
            </div>
        </div>
    </form>
</div>