@model CommentAddVM

<div class="post-leave-comment">
    <div class="page-title subtitle">
        <h2>Leave a comment</h2>
    </div>
    <form class="contact-form comment-input" asp-controller="Comment" asp-action="Add" method="post">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <input id="name" type="text" name="name" required />
                    <label>Your name *</label>
                </div>
                <div class="box">
                    <input id="email" type="text" name="email" required />
                    <label>Your email *</label>
                </div>
                <div class="box">
                    <textarea id="mymessage" name="mymessage" required></textarea>
                    <label>Your comment *</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input id="submit_message" type="submit" value="Send Comment" />
            </div>
        </div>
    </form>
</div>