@model TopicAddVM

<div class="row section-wrapper">
    <div class="col-xs-12 nopadding">
        <div class="box">
            <div class="content-body">
                <!--Content Details Body Start-->
                <div class="content-details-body">
                    <div class="page-title title-center">
                        <h1>Konu Ekle</h1>
                    </div>
                    <!--Contact Form Start-->
                    <form class="contact-form" asp-action="Add" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All"></div>
                        <div class="row">
                            <div class="box">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="post-img img-div-cover">
                                <figure>
                                    <div class="overlay-hover"></div>
                                    <img id="thumbPicture" src="" alt="thumbnail">
                                </figure>
                            </div>
                            <div class="box">
                                <label asp-for="ThumbnailFile"></label>
                                <input asp-for="ThumbnailFile" class="form-control p-2" placeholder="Yükle" accept=".png,.jpg,.jpeg,.gif,.tif" required />
                                <span asp-validation-for="ThumbnailFile" class="text-danger"></span>
                            </div>
                            <div class="box">
                            </div>
                        </div>
                        <div class="row">
                            <div class="box">
                                <button type="submit" class="w-100 text-dark">Kaydet</button>
                            </div>
                        </div>
                    </form>
                    <!--Contact Form End-->
                </div>
                <!--Content Details Body End-->
            </div>
        </div>
    </div>

</div>
<div class="layout-divider"></div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(() => {
            $("#ThumbnailFile").change(() => {
                $("#thumbPicture").attr("src", window.URL.createObjectURL(event.target.files[0]));
            });
        });
    </script>
}