@model IEnumerable<TopicListVM>

@foreach (var topic in Model)
{
    <article class="post-blog-list">
        <div class="blog-list-box">

            <!--Post Image-->
            <div class="blog-list-img">
                <a href="#">
                    <figure class="fit-img">
                        <img src="data:image/*;base64,@topic.Thumbnail" />
                        <div class="overlay-hover"></div>
                    </figure>
                </a>
            </div>

            <!--Post Entry-->
            <div class="post-entry">
                <div class="blog-list-details">
                    <h2><a href="#">@topic.Name</a></h2>
                    <div class="post-description">
                        <p>Description</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
}