@model IEnumerable<UserMainArticleListVM>

@{
    var firstArticle = Model.FirstOrDefault();
}

<div class="col-md-8 content-section-body">
    <div class="box">
        <div class="post-list post-masonry">
            <!--Post Entry Start-->
            <article class="post-type-standard">
                <!--Post Image-->
                <div class="post-img img-div-cover">
                    <div class="post-list-category">
                        <ul>
                            <li><a href="#">Vestibulum</a></li>
                            <li><a href="#">Aenean</a></li>
                        </ul>
                    </div>
                    <a href="#">
                        <figure>
                            <div class="overlay-hover"></div>
                            <img src="images/upload/post-img01.jpg" alt="post image" />
                        </figure>
                    </a>
                </div>
                <!--Post Entry-->
                <div class="post-entry">
                    <h2><a href="#">Donec tellus faucibus lobortis</a></h2>
                    <div class="post-description">
                        <p>Nullam fringilla erat ut nulla volutpat, eget tempor leo sagittis vestibulum sodales luctus nunc mauris a malesuada et lobortis leo hendrerit sed. Sed id ultrices mauris, at suscipit lectus. Praesent non luctus tellus. Etiam cursus non sapien vel facilisis.</p>
                    </div>
                    <div class="post-meta">
                        <ul>
                            <li><a href="#">12 October 2015</a></li>
                            <li><a href="#">John Doe</a></li>
                            <li><a href="#">Comments<span>4</span></a></li>
                        </ul>
                    </div>
                </div>
                <!--Post Share-->
                <div class="post-share">
                    <div class="read-more-btn"><a href="#">Read more</a></div>
                    <div class="share-btn">Share</div>
                    <ul class="share-standard">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                    </ul>
                </div>

            </article>
            <!--Post Entry End-->
            <div class="container nopadding">
                <div class="row masonry-wrapper">
                    <!--Post Entry Start-->
                    @foreach (var article in Model.Skip(1))
                    {
                        <div class="masonry-item col-xs-12 col-sm-6">
                            <div class="box">
                                <div class="masonry-article-wrap">
                                    <article class="post-type-standard">

                                        <!--Post Image-->
                                        <div class="post-img img-div-cover">
                                            <div class="post-list-category">
                                                <ul>
                                                    <li><a href="#">Vestibulum</a></li>
                                                    <li><a href="#">Aenean</a></li>
                                                </ul>
                                            </div>
                                            <a href="#">
                                                <figure>
                                                    <div class="overlay-hover"></div>
                                                    <img src="images/upload/post-masonry-img01.jpg" alt="post image" />
                                                </figure>
                                            </a>
                                        </div>

                                        <!--Post Entry-->
                                        <div class="post-entry">
                                            <h2><a href="#">Donec tellus faucibus</a></h2>
                                            <div class="post-description">
                                                <p>Nullam fringilla erat ut nulla volutpat eget tempor leo sagittis vestibulum sodales luctus nunc malesuada leo.</p>
                                            </div>
                                            <div class="post-meta">
                                                <ul>
                                                    <li><a href="#">12 Oct 2015</a></li>
                                                    <li><a href="#">John Doe</a></li>
                                                    <li><a href="#">Comments<span>4</span></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!--Post Share-->
                                        <div class="post-share">
                                            <div class="read-more-btn"><a href="#">Read more</a></div>
                                            <div class="share-masonry share-tooltip-animate">Share</div>
                                            <div class="share-tooltip">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </article>
                                </div>
                            </div>
                        </div>
                    }
                    <!--Post Entry End-->
                </div>
            </div>
        </div>
        <!--Pagination Start-->
        <nav class="pagination pagination-masonry">
            <ul>
                <li class="pagination-active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            </ul>
        </nav>
        <!--Pagination End-->

    </div>
</div>