@model ArticleAddVM

@section Styles{
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/ckeditor/contents.min.css" rel="stylesheet" />
}

<div class="row section-wrapper">
    <div class="col-xs-12 nopadding">
        <div class="box">
            <div class="content-body">
                <!--Content Details Body Start-->
                <div class="content-details-body">
                    <div class="page-title title-center">
                        <h1>Kayıt Ol</h1>
                    </div>
                    <!--Contact Form Start-->
                    <form class="contact-form" asp-action="Add" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="box">
                                <label asp-for="Title"></label>
                                <input asp-for="Title" required />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="post-img img-div-cover">
                                <figure>
                                    <div class="overlay-hover"></div>
                                    <img id="thumbPicture" src="" alt="thumbnail">
                                </figure>
                            </div>
                            <div class="box">
                                <label asp-for="ThumbnailFile"></label>
                                <input asp-for="ThumbnailFile" class="form-control p-2" placeholder="Yükle" accept=".png,.jpg,.jpeg,.gif,.tif" />
                                <span asp-validation-for="ThumbnailFile" class="text-danger"></span>
                            </div>
                            <div class="box">
                                <label asp-for="Content"></label>
                                <textarea asp-for="Content" class="form-control" cols="25" rows="3" required></textarea>
                                <span asp-validation-for="Content" class="text-danger"></span>
                            </div>
                            <div class="box">
                                <label asp-for="TopicIds"></label>
                                <select asp-for="TopicIds" class="form-control" asp-items="@Model.Topics" multiple data-live-search="true"></select>
                                <span asp-validation-for="TopicIds"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box">
                                <button type="submit" class="w-100 text-dark">Ekle</button>
                            </div>
                        </div>
                    </form>
                    <!--Contact Form End-->
                </div>
                <!--Content Details Body End-->
            </div>
        </div>
    </div>
</div>
<div class="layout-divider"></div>

    @section Scripts{
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/config.js"></script>
    <script src="~/lib/ckeditor/lang/tr.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            $("#ThumbnailFile").change(() => {
                $("#thumbPicture").attr("src", window.URL.createObjectURL(event.target.files[0]));
            });

            $("#TopicIds").select2({
                placeholder: 'Select a Topic',
                width: '100%'
            });

        });
            CKEDITOR.replace('Content');
    </script>
}