@model IEnumerable<ArticleCommentListVM>
@using BlogApp.Core.Utilities.Helpers

<div class="post-comments">
    <div class="page-title subtitle">
        <h2>Comments <span>@Model.Count()</span></h2>
    </div>
    <ul class="comment-list">
        @foreach (var comment in Model)
        {
            <!--Comment Start-->
            <li>
                <div class="comment-wrapper">
                    <div class="comment-avatar">
                        <figure>
                            <img src="data:image/*;base64,@UserHelper.EmptyImage()" alt="avatar" />
                        </figure>
                    </div>
                    <div class="comment-details">
                        <div class="comment-name">
                            @comment.UserName
                            <span class="comment-date">@comment.CreatedDate.ToShortDateString()</span>
                        </div>
                        <div class="comment-description">
                            <p>@comment.Text</p>
                        </div>
                    </div>
                </div>
            </li>
            <!--Comment End-->
        }
    </ul>
</div>