@model IEnumerable<FooterTopicListVM>

<div class="box">
    <aside class="widget widget_tag_cloud">
        <div class="widget-title">
            <h3>Popular Topics</h3>
        </div>
        <div class="widget-detail">
            <div class="tagcloud">
                @foreach (var topic in Model)
                {
                    <a asp-action="">@topic.Name</a>
                }
            </div>
        </div>
    </aside>
</div>