@model LoginVM

<div class="row section-wrapper">
    <div class="col-xs-12 nopadding">
        <div class="box">
            <div class="content-body">
                <!--Content Details Body Start-->
                <div class="content-details-body">
                    <div class="page-title title-center">
                        <h1>Giriş Yap</h1>
                    </div>
                    <!--Contact Form Start-->
                    <form class="contact-form" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="box">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" required />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="box">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" required />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="box">
                                <button type="submit" class="w-100 text-dark">Giriş Yap</button>
                            </div>
                        </div>
                    </form>
                    <!--Contact Form End-->
                </div>
                <!--Content Details Body End-->
            </div>
        </div>
    </div>

</div>
<div class="layout-divider"></div>