<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>@ViewData["Title"] - BlogApp</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <!--Pre Loading Start-->
    <div class="preloader-container">
        <div class="preloader-particles-wrapper"></div>
    </div>
    <!--Pre Loading End-->
    <!--Background Start-->
    <div class="bgimage bgimage-cover" data-image-src="images/logo.png">
        <div id="particles"></div>
        <div class="bg-overlay" data-bg-color="#353c40" data-opacity="0.85"></div>
    </div>

    <div class="container-wrapper">
        <!--Header Start-->
        @await Component.InvokeAsync("Header")
        <!--Header End-->
        <!--Content Wrapper Start-->
        <div class="content-wrapper">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        <!--Content Wrapper End-->
        <!--Footer Start-->
        @await Component.InvokeAsync("Footer")
        <!--Footer End-->
        <!--Back to Top Start-->
        <a class="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
        <!--Back to Top End-->
    </div>
    <!--Background End-->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.particleground.js"></script>
    <script src="~/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
