<header>
    <div class="container">

        <!--Logo Start-->
        <div class="logo">
            <a href="/">
                <img src="~/images/logo-transparent.png" alt="logo" />
            </a>
        </div>
        <!--Logo End-->
        <!--Navigation Menu Start-->
        <div class="nav-menu">

            <!--Open Close Menu-->
            <div class="burger-menu"><i class="fa fa-bars"></i></div>

            <!--Search Icon-->
            <div id="trigger-overlay" class="search-open"><i class="fa-solid fa-magnifying-glass"></i></div>

            <!--Menu Start-->
            <ul>
                <li class="current-menu">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <ul>
                        <li><a class="text-decoration-none" href="index.html">Standard</a></li>
                        <li><a href="home-standard-fullwidth.html">Standard fullwidth</a></li>
                        <li><a href="home-blog-list.html">Blog list</a></li>
                        <li><a href="home-blog-list-fullwidth.html">Blog list fullwidth</a></li>
                        <li><a href="home-masonry.html">Masonry</a></li>
                        <li><a href="home-masonry-fullwidth.html">Masonry fullwidth</a></li>
                        <li>
                            <a href="#">Third level menu</a>
                            <ul>
                                <li><a href="#">Third level menu</a></li>
                                <li><a href="#">Third level menu</a></li>
                                <li><a href="#">Third level menu</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Topic</a>
                    <ul>
                        <li><a asp-controller="Topic" asp-action="Add">Add Topic</a></li>
                        <li><a asp-controller="Topic" asp-action="Index">List Topic</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Article</a>
                    <ul>
                        <li><a asp-action="Add" asp-controller="Article">Add Article</a></li>
                        <li><a asp-action="Index" asp-controller="Article">List Article</a></li>
                    </ul>
                </li>
                <li><a href="about-me.html">About me</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li class="float-end">
                    <a href="#"><i class="fa-regular fa-user"></i></a>
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Login">Giriş Yap</a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Register">Kayıt Ol</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--Menu End-->
        </div>
        <!--Navigation Menu End-->
    </div>
</header>