<header>
    <div class="container">

        <!--Logo Start-->
        <div class="logo">
            <a href="/">
                <img src="images/logo-transparent.png" alt="logo" />
            </a>
        </div>
        <!--Logo End-->
        <!--Navigation Menu Start-->
        <div class="nav-menu">

            <!--Open Close Menu-->
            <div class="burger-menu"><i class="fa fa-bars"></i></div>

            <!--Search Icon-->
            <div id="trigger-overlay" class="search-open"><i class="fa fa-search"></i></div>

            <!--Menu Start-->
            <ul>
                <li class="current-menu">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                    <ul>
                        <li><a class="text-decoration-none" href="index.html">Standard</a></li>
                        <li><a href="home-standard-fullwidth.html">Standard fullwidth</a></li>
                        <li><a href="home-blog-list.html">Blog list</a></li>
                        <li><a href="home-blog-list-fullwidth.html">Blog list fullwidth</a></li>
                        <li><a href="home-masonry.html">Masonry</a></li>
                        <li><a href="home-masonry-fullwidth.html">Masonry fullwidth</a></li>
                        <li>
                            <a href="#">Third level menu</a>
                            <ul>
                                <li><a href="#">Third level menu</a></li>
                                <li><a href="#">Third level menu</a></li>
                                <li><a href="#">Third level menu</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Category</a>
                    <ul>
                        <li><a href="category-page.html">Standard</a></li>
                        <li><a href="category-page-fullwidth.html">Standard fullwidth</a></li>
                        <li><a href="category-page-list.html">Blog list</a></li>
                        <li><a href="category-page-list-fullwidth.html">Blog list fullwidth</a></li>
                        <li><a href="category-page-masonry.html">Masonry</a></li>
                        <li><a href="category-page-masonry-fullwidth.html">Masonry fullwidth</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Features</a>
                    <ul>
                        <li><a href="post-standard.html">Standard post</a></li>
                        <li><a href="post-gallery-one.html">Gallery post one</a></li>
                        <li><a href="post-gallery-two.html">Gallery post two</a></li>
                        <li><a href="post-video-youtube.html">Video post youtube</a></li>
                        <li><a href="post-video-vimeo.html">Video post vimeo</a></li>
                        <li><a href="post-audio.html">Audio post</a></li>
                        <li>
                            <a href="#">Post fullwidth</a>
                            <ul>
                                <li><a href="post-standard-fullwidth.html">Standard post</a></li>
                                <li><a href="post-gallery-one-fullwidth.html">Gallery post one</a></li>
                                <li><a href="post-gallery-two-fullwidth.html">Gallery post two</a></li>
                                <li><a href="post-video-youtube-fullwidth.html">Video post youtube</a></li>
                                <li><a href="post-video-vimeo-fullwidth.html">Video post vimeo</a></li>
                                <li><a href="post-audio-fullwidth.html">Audio post</a></li>
                            </ul>
                        </li>
                        <li><a href="color-widget.html">Color widget</a></li>
                    </ul>
                </li>
                <li><a href="about-me.html">About me</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a asp-action="Login">Giriş Yap</a></li>
            </ul>
            <!--Menu End-->

        </div>
        <!--Navigation Menu End-->

    </div>
</header>